// Colours

$primary: #e92569;
$secondary: #767676;
$grey: #e5e5e5;
$white: #ffffff;
$black: #0a0a0a;
$radial-gradient: radial-gradient(circle at center, $white, $grey);

// Carousel indicators

$carousel-indicator-opacity: 1;

// Accordion

$accordion-button-active-bg: 0;
$accordion-button-color: $primary;
$accordion-button-active-color: $primary;

// Pagination

$pagination-border-color: $primary;
